<router-outlet></router-outlet>
<div class="mainForm">
  <form action="">
    <input
      class="searchInput"
      type="text"
      name="searchInput"
      [(ngModel)]="enteredValue"
      placeholder="Type something..."
    />
    <button
      [ngClass]="enteredValue.length <= 3 ? 'disabledBtn' : 'blueBtn'"
      [disabled]="enteredValue.length <= 3"
      class="searchBtn"
      type="submit"
      (click)="logChars()"
      (click)="loadComments()"
    >
      Submit
    </button>
  </form>
</div>

<div class="comments">
  <div class="card" *ngFor="let comment of comments.slice(0, 20)">
    <h3><i class="bi bi-chat-right-dots-fill"></i> {{ comment.name }}</h3>
    <h5><i class="bi bi-envelope"></i> {{ comment.email }}</h5>
    <p>- {{ (comment.body | slice: 0:64) + "..." }}</p>
  </div>
</div>

<div class="copy">
  <p>made by <strong>Davide</strong>.</p>
</div>
